.vertical-aligned{
    vertical-align: middle;
}
.card-header{
    
    padding-bottom: 0;
    background-color: #33b5e5;
    font-weight: 600;
    font-size: .75em;
    color: whitesmoke;
    text-transform: uppercase;
} 

.card-body{
    font-weight: 600;
    font-size: .75em;
    text-transform: uppercase;
}
