
/* .card-header{
    
    padding-bottom: 0;
    background-color: #33b5e5;
    font-weight: 600;
    font-size: .75em;
    color: whitesmoke;
    text-transform: uppercase;
} 

.card-body{
    font-weight: 600;
    font-size: .75em;
    text-transform: uppercase;
} */

/* .card{
    font-weight: 600;
    font-size: .75em;
    position: relative;
 
    width: 100%;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 14px 0px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s ease 0s;
   
    border-radius: 3px;
    border-left: 5px solid #33b5e5;
    text-transform: uppercase;
}

.card:hover{
    transform: translateY(-4px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 14px 0px;
} */

/* .card{
      background-color: white;
     padding: 1em 1em 0.9em;
} */
/* .card:hover{
    transform: translateY(-4px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 14px 0px;
    background-color: rgb(40, 45, 47);
    background-color: white;
} */

/* .btn{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;
    background-color:  #33b5e5
} */
.input-group-append{
    margin-top: -3.85em;
    position: relative;
    min-height: 2.35em;
    float: right;
}
.input-group-text{
    background: #33b5e5;
    color : whitesmoke;
}

.form-control:focus{
    border-color: #33b5e5;
    box-shadow: 0 0 0 0.1rem rgba(55, 181, 229, 0.5);
}