.vertical-aligned{
    vertical-align: middle;
}
.card-header{
    /* padding: 1.25rem 1.25rem; */
    padding-bottom: 0;
    background-color: #33b5e5;
    font-weight: 500;
    color: whitesmoke;
    text-transform: uppercase;
}

