<div class="container">

        <div class="row">
                <div class="col-md-12">
                        <div class="input-group" id="adv-search" style="margin-top: 20px" class="active-cyan-4 mb-4">
                                <input #query (keyup)="search(query.value)"type="text" class="form-control" placeholder="Search Products..." />
                        </div>
                </div>
                <div class="col">
                        <div class="input-group-append">
                                <span class="input-group-text red lighten-3" id="basic-text1"><i class="fa fa-search"
                                                aria-hidden="true"></i></span>
                        </div>
                </div>
        </div>
        <p>
                <a [routerLink]="['/products','new']" class="btn btn-primary"> New Product</a>
        </p>
        <app-bs-card *ngFor="let product of searchedProducts" style="margin-bottom: 20px;">
                <ng-container class="bs-card-item-name">
                        <p>{{product.name}}</p>
                </ng-container>
                <ng-container class="bs-card-item-rate">
                        <p>Rate : {{product.rate | currency : 'INR'}} per {{product.unit}}
                </ng-container>
                <ng-container class="bs-card-item-edit">
                        <div class="col my-auto">
                                <button type="button" class="btn btn-warning btn-block" [routerLink]="['/products/', product._id]"><span><i
                                                        class="fas fa-pen"></i></span> Edit</button>
                        </div>
                </ng-container>
                <ng-container class="bs-card-item-del">
                        <div class="col my-auto">
                                <!-- <button type="button" class="btn btn-danger btn-block" (click)='removeProduct(product._id)' >Delete</button> -->
                                <app-modal [item]="product" [itemType]="'product'"></app-modal>
                        </div>
                </ng-container>


        </app-bs-card>


</div>