<div class="container">
        
        <div style="margin-top: 20px" class="active-cyan-4 mb-4">
                <input class="form-control" type="text" placeholder="Search Products" aria-label="Search">
        </div>
        <p>
                        <a routerLink="/products/new" class="btn btn-primary"> New Product</a>
        </p>
        <app-bs-card  *ngFor="let product of products" style="margin-bottom: 20px;" >
                        <ng-container class="bs-card-item-name">
                                        <p>{{product.name}}</p>
                        </ng-container>
                        <ng-container class="bs-card-item-rate">
                                        <p>Rate :  {{product.rate | currency : 'INR'}} per {{product.unit}}
                        </ng-container>
                        <!-- <ng-container class="bs-card-item-edit-btn">
                                        <button type="button" class="btn btn-warning btn-block">Edit</button>
                        </ng-container>
                        <ng-container class="bs-card-item-del-btn">
                                        <button type="button" class="btn btn-danger btn-block">Delete</button>
                        </ng-container> -->
                        
        </app-bs-card>
        
        
</div>