<div class="container">
    <div class="card">  
      <div class="card-header">
        Customer Form
      </div>
      <div class="card-body">
          <form [formGroup]="customerForm" (ngSubmit)="submitCustomerForm()">
              <div class="row">
                <div class="col-6 form-group">
                  <label for="name">Customer Name</label>
                  <input id="name" formControlName="name" type="text" class="form-control" placeholder="Customer name">
                </div>
    
                <div class="col-6 form-group">
                  <label for="gstin">GSTIN</label>
                    <input formControlName="gstin" id="gstin" type="text" class="form-control" placeholder="GSTIN">
                </div>
              </div>
              <div class="row">
                  <div class="col-6 form-group">
                    <label for="email">Email</label>
                      <input formControlName="email" id="email" type="email" class="form-control" placeholder="Email">
                  </div>
                </div>
              <h5 class="abc-heading-5">Primary Address</h5>
              <div class="row">
                  <div class="col-md form-group">
                    <label for="pAddressline1">Address Line 1</label>
                    <input type="text" formControlName="pAddressline1" id="pAddressline1" class="form-control" placeholder="P.O. Box or Plot Number or Apartment Number">
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-8 form-group">
                      <label for="pAddressline2">Address Line 2</label>
                      <input type="text" formControlName="pAddressline2" id="pAddressline2" class="form-control" placeholder="Locality or Area or Landmark">
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="pCity">City</label>
                        <input type="text" formControlName="pCity" id="pCity" class="form-control" placeholder="City or Town">
                      </div>
              </div>
              <div class="row">
                  <div class="col-md-6 form-group">
                      <label for="pState">State</label>
                      <input type="text" formControlName="pState" id="pState" class="form-control" placeholder="State">
                  </div>
                   <div class="col form-group">
                        <label for="pCountry">Country</label>
                        <input type="text" formControlName="pCountry" id="pCountry" class="form-control" placeholder="Country">
                 </div>
                <div class="col form-group">
                          <label for="pPincode">Pincode</label>
                          <input type="text" formControlName="pPincode" id="pPincode" class="form-control" placeholder="Pincode">
                        </div>
              </div>
              
              <h5 class="abc-heading-5">Alternate Address</h5>
              <div class="row">
                  <div class="col-md form-group">
                    <label for="aAddressline1">Address Line 1</label>
                    <input type="text" formControlName="aAddressline1" id="aAddressline1" class="form-control" placeholder="P.O. Box or Plot Number or Apartment Number">
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-8 form-group">
                      <label for="aAddressline2">Address Line 2</label>
                      <input type="text" formControlName="aAddressline2" id="aAddressline2" class="form-control" placeholder="Locality or Area or Landmark">
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="aCity">City</label>
                        <input type="text" id="aCity" formControlName="aCity" class="form-control" placeholder="City or Town">
                      </div>
              </div>
              <div class="row">
                  <div class="col-md-6 form-group">
                      <label for="aState">State</label>
                      <input type="text" formControlName="aState" id="aState" class="form-control" placeholder="State">
                  </div>
                   <div class="col form-group">
                        <label for="aCountry">Country</label>
                        <input type="text" id="aCountry" formControlName="aCountry" class="form-control" placeholder="Country">
                 </div>
                <div class="col form-group">
                          <label for="aPincode">Pincode</label>
                          <input type="text" formControlName="aPincode" id="aPincode" class="form-control" placeholder="Pincode">
                        </div>
              </div>
              <h5 class="abc-heading-5">Contact Number</h5>
              <div class="row">
                <div class="col-md-6 form-group">
                  <label for="primaryPhone">Primary Phone</label>
                  <input formControlName="primaryPhone" id="primaryPhone" type="text" class="form-control">
                </div>
                <div class="col-md-6 form-group">
                    <label for="alternatePhone">Alternate Phone</label>
                    <input formControlName="alternatePhone" id="alternatePhone" type="text" class="form-control">
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6 form-group">
                      <button class="btn btn-primary" type="submit">Save Customer</button>
                    </div>
              </div>
            </form>
      </div>
    </div>
  </div>