<div class="container" style="margin-top: 3em; font-weight : 600; font-size : 0.85em">
        <p>
                <a [routerLink]="['/products']" class="btn btn-primary btn-block col-2"> Back</a>
        </p>
        <div class="card" style="padding: 1em; background-color: #33b5e5!important; color: whitesmoke">
            Product Form
        </div>
    <div class="card" style="padding: 1em;">
               <form [formGroup]="productForm" (ngSubmit)="submitProductForm()">
                    <div class="row">
                            <div class="col-8 form-group">
                                    <label for="name">Product Name</label>
                                    <!-- <input  formControlName="current-password" id="password" type="password" class="form-control"> -->
                                    <input id="name" formControlName= "name" type="text" class="form-control">
                                </div>
                                <div class="col-4 form-group">
                                    <label for="rate">Rate</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">₹</span>
                                        </div>
            
                                        <!-- <input formControlName="new-password" id="new-password" type="text" class="form-control"> -->
                                        <input formControlName= "rate" id="rate" type="text" class="form-control">
                                    </div>
                                </div>
                    </div>
                  
                    <div class="row">
                            <div class="col-6 form-group">
                                    <label for="unit">Unit</label>
                                    <!-- <input formControlName="confirm-password" id="confirm-password" type="text" class="form-control"> -->
                                    <select formControlName= "unit" class="form-control" id="exampleFormControlSelect1">
                                        <option>Tonnes</option>
                                        <option>Litres</option>
                                    </select>
                                </div>
                                <div class="col-6 form-group" style="text-align: center;">
                                        <button class="btn btn-primary" type="submit" style="margin-top: 2em; font-weight: 700; font-size: 1em">Save Product</button>
                                </div>
                                
                    </div>
                   
                </form>
            </div>
        <!-- </div>
    </div> -->
</div>