.container{
    margin-top: 3em; 
    font-weight : 600; 
    font-size : 0.85em;
}
.card{
    padding: 0;
}
.card-header{
    background-color: #33b5e5!important; ;
    color: whitesmoke;
    font-weight: 600;
    font-size: 1.1em;
}
.btn-primary{
    margin-top: 2em; 
    font-weight: 700; 
    font-size: 1em;
}

