.card-header{
    /* padding: 1.25rem 1.25rem; */
    padding-bottom: 0;
    background-color: #33b5e5;
    font-weight: 700;
    font-size: 1.15em;
    color: whitesmoke;
    /* text-transform: uppercase; */
    padding-bottom: 0
}

.card{
    font-weight: 600;
    font-size: .85em;
    position: relative;
    /* background-color: white; */
    width: 100%;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 14px 0px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    /* padding: 1em 1em 0.9em; */
    /* border-radius: 3px; */
    border-left: 5px solid #33b5e5;
    /* text-transform: uppercase; */
}

.card:hover{
    transform: translateY(-4px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 14px 0px;
    /* background-color: rgb(40, 45, 47); */
    /* background-color: white; */
}