<div class="container">
  <div class="card">
    <div class="card-header">
      Order Form
    </div>
    <div class="card-body">
      <form [formGroup]="orderForm" (ngSubmit)="submitOrderForm()">
        <div class="row">
          <div class="col-4 form-group">
            <label for="customer">Customer</label>
            <!-- <input id="customer" formControlName="customer" type="text" class="form-control" placeholder="Customer"> -->
            <select name="customer" id="customer" formControlName="customer" class="form-control">
              <option *ngFor="let customer of customers" [ngValue]="customer">{{customer.name}}</option>
            </select>
          </div>

          <div class="col-4 form-group">
            <label for="product">Product</label>
            <!-- <input formControlName="product" id="product" type="text" class="form-control" placeholder="Product"> -->
            <select name="product" id="product" formControlName="product" class="form-control">
              <option *ngFor="let product of products" [ngValue]="product" >{{product.name}}</option>
            </select>
          </div>
          <div class="col-md-2 form-group">
            <label for="quantity">Quantity</label>
            <input type="text" formControlName="quantity" id="quantity" class="form-control">
          </div>
          <div class="col-md-2 form-group">
            <label for="unit">Unit</label>
            <input type="text" formControlName="unit" id="unit" readonly class="form-control" placeholder="">
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-md-6 form-group">
            <label for="quantity">Quantity</label>
            <input type="text" formControlName="quantity" id="quantity" class="form-control" placeholder="10 tonnes">
          </div>
          <div class="col-md-6 form-group">
            <label for="unit">Unit</label>
            <input type="text" formControlName="unit" id="unit" class="form-control" placeholder="Tonnes">
          </div>
        </div> -->
        <div class="row">
          <div class="col-md-3 form-group">
            <label for="rate">Rate</label>
            <div class="input-group">
                <div class="input-group">
                    <input type="text" formControlName="rate" id="rate" readonly class="form-control" placeholder="">
                    <div class="input-group-append">
                        <span class="input-group-text">₹</span>
                    </div>
                </div>
            </div>
            
          </div>
          <div class="col-md-3 form-group">
            <label for="discount">Discount</label>
            <div class="input-group">
                <input type="text" formControlName="discount" id="discount" class="form-control" placeholder="">
                <div class="input-group-append">
                    <span class="input-group-text">₹</span>
                </div>
            </div>
          </div>
          <div class="col-md-3 form-group">
            <label for="finalRate">Final Rate</label>
            <div class="input-group">
                <input type="text" readonly formControlName="finalRate" id="finalRate" class="form-control" placeholder="">
                <div class="input-group-append">
                    <span class="input-group-text">₹</span>
                </div>
            </div>
          </div>
          <div class="col-md-3 form-group">
            <label for="price">Order Price</label>
            <div class="input-group">
                <input type="text" readonly formControlName="price" id="price" class="form-control" placeholder="">
                <div class="input-group-append">
                    <span class="input-group-text">₹</span>
                </div>
            </div>
          </div>
        </div>
        <div class="row">

        </div>
        <div class="row">
          <div class="col-4 form-group">
            <label for="orderRecDate">Order Recieved Date</label>
            <div class="input-group">
              <input ngbDatepicker #dOrd="ngbDatepicker" formControlName="orderRecDate" id="orderRecDate" type="text"
                class="form-control" placeholder="yyyy-mm-dd">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="dOrd.toggle()" type="button"><i class="fa fa-calendar-alt"></i></button>
              </div>
            </div>
          </div>
          <div class="col-4 form-group">
            <label for="orderDate">Order Date</label>
            <div class="input-group">

              <input ngbDatepicker #dOd="ngbDatepicker" formControlName="orderDate" id="orderDate" type="text" class="form-control"
                placeholder="yyyy-mm-dd">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="dOd.toggle()" type="button"><i class="fa fa-calendar-alt"></i></button>
              </div>
            </div>
          </div>
          <div class="col-4 form-group">
            <label for="dueDate">Due Date</label>
            <div class="input-group">

              <input ngbDatepicker #dDD="ngbDatepicker" formControlName="dueDate" id="dueDate" type="text" class="form-control"
                placeholder="yyyy-mm-dd">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="dDD.toggle()" type="button"><i class="fa fa-calendar-alt"></i></button>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-4 form-group">
            <label for="paymentStatus">Payment Status</label>
            <!-- <input type="text" formControlName="paymentStatus" id="paymentStatus" class="form-control"> -->
            <select name="paymentStatus" formControlName="paymentStatus" id="paymentStatus" class="form-control">Choose payment Status
              <option>Pending</option>
              <option>Complete</option>
              <option>Defaulted</option>
            </select>
          </div>
          <div class="col-md-4 form-group">
              <label for="amountPaid">Amount Paid</label>
              <div class="input-group">
                  <input type="text" readonly formControlName="amountPaid" id="amountPaid" class="form-control" placeholder="">
                  <div class="input-group-append">
                      <span class="input-group-text">₹</span>
                  </div>
              </div>
            </div>
            <div class="col-md-4 form-group">
                <label for="amountDue">Due Amount</label>
                <div class="input-group">
                    <input type="text" readonly formControlName="amountDue" id="amountDue" class="form-control" placeholder="">
                    <div class="input-group-append">
                        <span class="input-group-text">₹</span>
                    </div>
                </div>
              </div>
        </div>
        <div formArrayName="payments">
            <div class="row">  
              <strong>Payments</strong>
              <div class="col-md-1 form-group">
                  <button class="btn btn-success" type="button" (click)="addPayment()"><i class="fas fa-plus-circle"></i></button>
              </div>
             </div>
        <div *ngFor="let payment of paymentForms.controls; let i=index;" [formGroupName]="i" class="row" >
          <div class="col-md-4 form-group">
            <label for="amount">Amount</label>
           <div class="input-group">
              <input type="text" formControlName="amount" id="amount" class="form-control">
            <div class="input-group-append">
                <span class="input-group-text">₹</span>
            </div>
           </div>
          </div>
          <div class="col-md-4 form-group">
            <label for="description">Description</label>
            <input type="text" formControlName="description" id="description" class="form-control">
          </div>
          <div class="col-md-3 form-group">
            <label for="paymentDate">Payment Date</label>
            <div class="input-group">
              <input type="text" ngbDatepicker #dPD="ngbDatepicker" formControlName="paymentDate" id="paymentDate"
                class="form-control" placeholder="yyyy-mm-dd">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="dPD.toggle()" type="button"><i class="fa fa-calendar-alt"></i></button>
              </div>
            </div>
          </div>
          <div class="col-md-1 form-group">
            <button class="btn btn-danger" type="button" (click)="deletePayment(i)"><i class="fas fa-minus-circle"></i></button>
          </div>
        </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-group">
            <button class="btn btn-primary" type="submit">Save Order</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>