<div class="card">
  <div class="card-body">
    <div class="row ">
      <div class="col-8">
        <div class="row">
          <div class="col-12">
            <!-- <div class="col-12"> <p>{{product.name}}</p> -->
            <ng-content select=".bs-card-item-name"></ng-content>
          </div>
          <div class="col-12">
            <!-- <p>Rate :  {{product.rate | currency : 'INR'}} per {{product.unit}}</p> -->
            <ng-content select=".bs-card-item-rate"></ng-content>
          </div>
        </div>
      </div>
          <ng-content select=".bs-card-item-edit"></ng-content>
          <ng-content select=".bs-card-item-del"></ng-content>  
    </div>
  </div>
</div>