.navbar-brand,.dropdown-toggle, .dropdown-item, .nav-item{
    cursor: pointer;
}
.br-navbar{
    min-height: 4rem;
    background-color: #33b5e5!important;
    font-weight: 700;
    font-size: 1em;
    /* text-transform: uppercase; */
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

.dropdown-item{
    min-height: 0.1rem;
    font-weight: 600;
    font-size: .8em;
    /* text-transform: uppercase; */
    padding: 0.02rem 1.5rem;

}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: #33b5e5!important;
    color : whitesmoke;
}

.dropdown-menu{
    border-left: 3px solid #33b5e5;
}
.fas{
    padding: 0.2em;
}
.navbar-brand{
    position: relative;
    width: 170px;
    left: 15px;
    background-size: contain;
}
.navbar-brand > img{
    height: 30px;
}